.abc {
  height: 100%;
  width: 100%;
}
.column {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: large;
  color: blue;
  width: 100%;
  text-align: center;
}
