.all-sub-div {
  flex-direction: row;
  display: flex;
  width: 33%;
}

.mat-card {
  background: repeating-linear-gradient(to bottom, #f5f5dc, rgb(245 245 220));
  margin: 5px;
  border: solid lightgray;
}

.mat-form-field .mat-input-element::placeholder {
  color: red;
}
