.formfield{
    width: 300px;
  margin: auto;
}
.card{
  margin: auto;
  text-align: center;
  width: 500px;
  padding: 10px;
  border-radius: 10%;
}
button{
  width: 100px;
  margin: auto;
}
.stepper{

    width: 550px;
    margin: auto;
    background-color: #aea5ea;
    border: solid white;
}

