.formfield{
    width: 300px;
  margin: auto;
}
.card{
  margin: auto;
  text-align: center;
  width: 500px;
  padding: 10px;
  border-radius: 10%;
}
button{
  width: 100px;
  margin: auto;
}
.stepper{

    width: 550px;
    margin: auto;
    background-color: #aea5ea;
    border: solid white;
}
.logout{
  margin: 10px;
  width: fit-content;

}
.couponButton{
  width: fit-content;
  margin-left: 1180px;
}
.buttonDiv{
  display: flex;
    flex-direction: row;
}

