.btnclass {
  color: blue;
  width: 250px;
}
.firstmat {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.innerdiv {
  display: flex;
  flex-direction: row;
  margin: 10px;
  height: 40px;
}
.sort {
  margin-left: 350px;
  width: 250px;
  color: blue;
}
.mattwo {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); //two card per row
  gap: 20px; //adjust the gap as needed
}
.img {
  height: 200px;
  width: 200px;
}
