.btnclass {
  color: blue;
  width: 250px;
}
.firstmat {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.innerdiv {
  display: flex;
  flex-direction: row;
  margin: 10px;
  height: 40px;
}
.sort {
  margin-left: 350px;
  width: 250px;
  color: blue;
}
.mattwo {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: min-content;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); //two card per row
  gap: 20px; //adjust the gap as needed
  // background-color: aliceblue;
}
.img {
  height: 200px;
  width: 280px;
  border: 1px solid blue;
}
.matcardata {
  border: 1px solid blue;

  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  margin-right: 20px;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
}
