<i
  class="fa-fa-heart"
  aria-hidden="true"
  style="font-size: 60px; color: red"
></i
><button mat-raised-button color="warn" (click)="logOut()" class="logOut">
  <mat-icon>exit_to_app</mat-icon>Log Out
</button>
<mat-card class="firstmat">
  <div class="innerdiv">
    <div>
      <button mat-raised-button (click)="getFilterData()" class="btnclass">
        <mat-icon>filter_list</mat-icon>Filterdata
      </button>
    </div>
    <div>
      <button mat-raised-button (click)="reset()" color="warn" class="btnclass">
        Reset
      </button>
    </div>
    <div>
      <mat-form-field style="margin-left: 100px; width: 200px; height: 60px">
        <input
          style="height: 60"
          matInput
          type="=text"
          name="search"
          [(ngModel)]="search"
          placeholder="search product"
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="findCar()"
        style="position: absolute"
      >
        Search
      </button>
    </div>
    <div>
      <button mat-raised-button (click)="getSortData()" class="sort">
        <mat-icon>filter_list</mat-icon>Sortdata
      </button>
    </div>
  </div>
</mat-card>
<!-- second matcard -->
<h2>
  <u>Total Available Cars:{{ allcar.length }}</u>
</h2>
<mat-card class="mattwo">
  <div class="container">
    <mat-card *ngFor="let item of allcar" class="matcardata">
      <div>
        <img src="../../assets/images/{{ item.brand }}.jpeg" class="img" />
        <br />
        <p>
          <b style="font-size: 18px">{{ item.makeYear }} </b>&nbsp;&nbsp;<b
            style="font-size: 22px"
            >{{ item.brand }} </b
          >&nbsp;&nbsp;&nbsp;<b style="font-size: 15px">{{ item.model }} </b>
        </p>

        <p>
          <b style="font-size: 15px">{{ item.state }} </b>&nbsp;&nbsp;<b
            style="font-size: 15px"
            >{{ item.stateCode }} </b
          >&nbsp;&nbsp;<b style="font-size: 15px">{{ item.variant }} </b
          >&nbsp;&nbsp;<b style="font-size: 15px">{{ item.owner }} </b>
        </p>
        <p>
          <u style="font-size: 12px; margin-left: 20px">{{ item.features }}</u>
        </p>

        <ul>
          <li>{{ item.seats }}</li>
          <li>{{ item.bodyType }}</li>
          <li>{{ item.transmission }}</li>
          <li>{{ item.color }}</li>
        </ul>
        <p>
          <b style="font-size: 15px"
            >₹<span style="text-decoration: line-through">{{
              item.price
            }}</span></b
          >
          <b style="margin-left: 50px; font-size: 10px">{{ item.kmDriven }}</b>
        </p>
        <p>
          <b style="font-size: 18px"
            >Discounted price: ₹{{ item.discountPrice }}</b
          >
        </p>
        <button mat-raised-button (click)="allBookedCars(item)">BookCar</button>
        <button mat-raised-button style="margin-left: 10px">
          Add to WishList
        </button>
      </div>
    </mat-card>
  </div>
</mat-card>
